{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-violet-100">
<div class="shadow-xl rounded-2xl mt-8 w-4/5 min-h-screen m-auto bg-white">
    <header>
        <div class="rounded-t-2xl grid grid-cols-2 shadow-lg bg-violet-700 py-8 px-8">
            <div class="text-left">
                <a class="p-2 text-white font-bold text-xl" href="/">Connectopia</a>
                <a class="p-2 text-white text-lg" href="/posts">{% translate 'Posts' %}</a>
                <a class="p-2 text-white text-lg" href="/new_post">{% translate 'New Post' %}</a>
                <a class="p-2 text-white text-lg" href="/users">{% translate 'Users' %}</a>
            </div>
            <div class="text-right">
                <a class="p-2 text-white text-center text-lg" href="/profile">{% translate "Profile" %}</a>
                <a class="p-2 text-white text-center text-lg" href="/chat">{% translate 'Chat' %}</a>
                <a class="p-2 text-white text-center text-lg" href="/logout">{% translate 'Logout' %}</a>
            </div>
        </div>
    </header>
    <div class="py-8 px-48">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>