<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
    <div class="grid grid-cols-2 shadow-lg bg-green-700 py-8 px-8">
        <div class="text-left">
            <a class="p-2 text-white font-bold text-xl" href="/">Connectopia</a>
            <a class="p-2 text-white text-lg" href="/posts">Posts</a>
            <a class="p-2 text-white text-lg" href="/new_post">New Post</a>
            <a class="p-2 text-white text-lg" href="/users">Users</a>
        </div>
        <div class="text-right">
            <a class="p-2 text-white text-center text-lg" href="/profile">Profile</a>
            <a class="p-2 text-white text-center text-lg" href="/chat">Chat</a>
            <a class="p-2 text-white text-center text-lg" href="/logout">Logout</a>
        </div>
    </div>
</header>
<div class="py-8 px-96">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>