{% extends 'base.html' %}

{% block title %}Connectopia - {{ post.title }}{% endblock %}

{% block content %}
    <div class="text-center">
        {% if post.author.username == user.username %}
            <div class="absolute top-20">
                <form method="post">
                    {% csrf_token %}
                    <button name="delete-post" class="bg-red-500 mb-4 mt-16 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-700 rounded">
                        X
                    </button>
                </form>
                <a class="underline text-lg text-green-500" href="{% url 'post:edit_post' post.id %}">Edit</a>
            </div>
        {% endif %}
        <div class="flex justify-between p-8">
            <p class="text-3xl py-1 font-bold">{{ post.title }} by {{ post.author }}</p>
            <h1 class="text-lg py-2 text-slate-400">{{ post.created }}</h1>
        </div>
        <h1 class="text-2xl text-justify">{{ post.body }}</h1>
        {% if post.image.url != "" %}
            <img class="mt-8 text-2xl text-center" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <div class="py-8">
            {% if post.tags.all|length != 0 %}
                <p class="inset-x-0 bottom-0 h-16 text-slate-700">tags:
                {% for tag in post.tags.all %}
                    <a class="text-white border bg-green-500 border-green-800 p-0.5 rounded">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <p class="text-3xl text-left">Comments:
                <a class="text-green-500" href="{% url 'post:add_comment' post.id %}">Add comment</a>
            </p>
        </div>
        <div class="border border-slate-300"></div>
        {% include 'comment_block.html' %}
    </div>
{% endblock %}
