{% extends 'base.html' %}

{% block title %}Connectopia - Home Page{% endblock %}

{% block content %}
    <form method="get">
        <input class="mx-24 p-2 w-5/6 bg-slate-100 border h-15 rounded-xl border-slate-500"
               type="text"
               name="query"
               placeholder="Search..."
        >
    </form>
    {% for post in posts %}
        <div class="relative text-center m-6 bg-white border border-slate-400 rounded-xl p-8">
            {% if post.image.url != "" %}
                <img class="shadow-lg mb-8 rounded-xl text-2xl text-center" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <a href="{{ post.get_absolute_url }}" class="underline text-violet-400 text-3xl p-1">{{ post.title }} by {{ post.author }}</a>
            <h1 class="text-xl p-1">{{ post.created }}</h1>
            <h1 class="text-lg p-1">{{ post.body|truncatechars:100 }}</h1>
            {% if post.tags.all|length != 0 %}
                <p class="text-slate-700">tags:
                {% for tag in post.tags.all %}
                    <a class="text-white border bg-violet-500 border-violet-800 p-0.5 rounded">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
