{% extends 'base.html' %}

{% load i18n %}

{% block title %}Connectopia - {{ user.username }}{% endblock %}

{% block content %}
    <div class="border shadow rounded-xl border-slate-500 text-left">
        <div class="p-4 flex items-center gap-4">
            <img height="128" width="128" src="{{ user.profile.avatar.url }}" alt="avatar">
            <div>
                <p class="text-2xl">{% trans 'First name' %}: {{ user.first_name }}</p>
                <p class="text-2xl">{% trans 'Last name' %}: {{ user.last_name }}</p>
                <p class="text-2xl">{% trans 'Username' %}: {{ user.username }}</p>
                <p class="text-xl">{% translate 'Followers' %}: {{ user.profile.followers.all.count }}</p>
                {% if user.profile.status != '' %}
                    <p class="text-2xl">{% translate 'Status' %}: {{ user.profile.status }}</p>
                {% endif %}
                <p class="text-lg">{% translate 'Register Date' %}: {{ user.date_joined }}</p>
            </div>
        </div>
        <div class="absolute p-2 top-48 right-96 mx-2">
            {% if user == request.user %}
                <a href="/edit_profile">
                    <button class="shadow hover:shadow-xl transition p-2 my-4 w-18 text-white bg-green-500 font-bold border border-green-700 rounded">
                        {% translate 'Edit' %}
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="absolute p-2 top-60 right-96 mx-2">
            {% if not following and user != request.user %}
                <form method="post">
                    {% csrf_token %}
                    <button
                            name="follow"
                            type="submit"
                            class="shadow hover:shadow-xl transition p-2 my-4 w-18 text-white bg-green-500 font-bold border border-green-700 rounded"
                    >
                        {% translate 'Follow' %}
                    </button>
                </form>
            {% elif following and user != request.user %}
                <form method="post">
                    {% csrf_token %}
                    <button
                            name="unfollow"
                            type="submit"
                            class="shadow hover:shadow-xl transition p-2 my-4 w-18 text-white bg-rose-500 font-bold border border-green-700 rounded"
                    >
                        {% translate 'Unfollow' %}
                    </button>
                </form>
            {% endif %}
        </div>
        {#                <div class="absolute top-52 my-1 mx-16">#}
        {#                    {% if account.is_online %}#}
        {#                        <button disabled class="p-1 bg-green-500 font-bold border border-green-700 rounded-xl"></button>#}
        {#                    {% else %}#}
        {#                        <button disabled class="p-1 bg-red-500 font-bold border border-red-700 rounded-xl"></button>#}
        {#                    {% endif %}#}
        {#                </div>#}
    </div>
{% endblock %}

